
/* Create two columns */
.row {
    display: flex;
}

/* Style each column */
.column {
    width: 50%;
    height: 300px;
    color: white;
    background-color: gray;
    padding: 20px;
    box-sizing: border-box;
}
